<!DOCTYPE html>
<html>

  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Parkdata Dashboard</title>
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="vuetify.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/favicon.ico">
		<link rel="icon" type="image/png" sizes="192x192" href="./icons/favicon.ico">
		<link rel="icon" type="image/png" sizes="512x512" href="./icons/favicon.ico">
    </head>
    <body>
        <div id="app">
			<v-app>
				<v-content>
					<div v-if="page == 'loading' " >
						<img src="landing_flower.png" class="loading--flower" alt="flower">
						<p class="loading--title">Cedar Breaks</p>
						<p class="loading--title"> National Monument</p>
						<p class="loading--sub-title">Wildflowers</p>
						<div class="loading--nps_div">
							<img class="loading--NPS_logo" src="nps_logo.svg" alt="npsLogo">
							<p class="loading--NPS_logo ml-2">NATIONAL PARK SERVICE</p>
						</div>
					</div>

					<div v-if="page == 'landing' ">
						<div class="landing--nps_div">
							<img class="landing--NPS_logo" src="nps_logo.svg" alt="npsLogo">
							<p class="landing--NPS_logo ml-2">NATIONAL PARK SERVICE</p>
						</div>
						<div class="landing--title_div">
							<p class="landing--title">Cedar Breaks</p>
							<p class="landing--title"> National Monument</p>
							<img src="landing_flower.png" class="loading--flower mt-5" alt="flower">
							<p class="landing--sub-title mt-2">Wildflowers</p>
						</div>
						
						<div>
							<v-btn class="button d-block mt-9" tile color="#3B4549" dark><img class="landing--buttons_image mr-2" src="icons/appbar_flower.svg" alt="flower"> Search Wildflowers</v-btn>
							<v-btn class="button d-block mt-4" tile color="#3B4549" dark><img class="landing--buttons_image mr-2" src="icons/treeLight.svg" alt="flower"> Search Trees</v-btn>
							<v-btn class="button d-block mt-4" tile color="#3B4549" dark><img class="landing--buttons_image mr-2" src="icons/question_mark.svg" alt="flower"> Instructions</v-btn>
						</div>
						<v-bottom-navigation background-color="#3B4549" color="#fff" absolute style="justify-content: space-between">
							<v-btn value="sideDrawer" @click="setAppBarIcon('hamburger'); drawer = !drawer">
								<img :src="hambugerMenuIcon" alt="hamburgerMenu">
							</v-btn>
							<v-btn value="wildflowers" @click="setAppBarIcon('flower');">
								<img :src="wildflowerIcon" alt="flower">
							</v-btn>
							<v-btn value="trees" @click="setAppBarIcon('tree');">
								<img :src="treesIcon" alt="tree">
							</v-btn>
						</v-bottom-navigation>

						<!-- Start side drawer -->
						<v-navigation-drawer class="fill-height" v-model="drawer" app>
							<v-toolbar color="#fff" height="24" class="mb-4" dense flat></v-toolbar>
							<!-- <v-list-item-title id="sideDrawerTitle" class="title ml-4">Menu</v-list-item-title> -->
							<div id="sideDrawerTitle" class="ml-4">Menu</div>
							<!-- <v-divider></v-divider> -->
							<div class="ml-4 mt-9 mb-3 sideDrawer--Titles">Home <img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""> </div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">Wildflowers<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">Trees<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">Instructions<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">Glossary<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">Additional Resources<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<div class="ml-4 mt-3 mb-3 sideDrawer--Titles">General Information<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
							<p class="mt-5">Sort by:</p>
						</v-navigation-drawer>
						<!-- End side drawer -->
					</div>

					<div v-if="page == 'research' ">
						<div> <!-- App bar for login page -->
							<v-app-bar dense>
								<v-toolbar-title id="researchHeader" v-on:click="page='landing' "><img class="backButton" src="icons/backArrow.svg">Search Wildflowers</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn text color="#507282" id="requestAccessButton" v-on:click="MainPage='requestAccess' ">Request Access</v-btn>
								<v-btn text color="#507282" id="loginButton" v-on:click="MainPage='loggingIn' ">Login</v-btn>
							</v-app-bar>
						</div>
						<div id="researchHeader">
							<button class="backButton" @click="page = 'landing'"></button>
							<h1 id="researchH1">Search Wildflowers</h1>
						</div>
					</div>
				</v-content>
			</v-app>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="index.js"></script>
		<noscript>Please install Javascript</noscript>
    </body>
</html>