<!DOCTYPE html>
<html>

  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Parkdata Dashboard</title>
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="vuetify.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/favicon.ico">
		<link rel="icon" type="image/png" sizes="192x192" href="./icons/favicon.ico">
		<link rel="icon" type="image/png" sizes="512x512" href="./icons/favicon.ico">
    </head>
    <body>
        <div id="app">
			<v-app>
				<v-content>
					<div v-if="page == 'loading' " >
						<img src="landing_flower.png" class="loading--flower" alt="flower">
						<p class="loading--title">Cedar Breaks</p>
						<p class="loading--title"> National Monument</p>
						<p class="loading--sub-title">Wildflowers</p>
						<div class="loading--nps_div">
							<img class="loading--NPS_logo" src="nps_logo.svg" alt="npsLogo">
							<p class="loading--NPS_logo ml-2">NATIONAL PARK SERVICE</p>
						</div>
					</div>

				<!-- MAIN NAVIGATION FOR EVERY PAGE -->
				<!-- MADE GLOBAL SO EVERY PAGE HAS IT AND NO REPETITIVE CODE -->
					<v-bottom-navigation fixed background-color="#3B4549" color="#fff" style="justify-content: space-between">
						<v-btn value="sideDrawer" @click="drawer = !drawer">
							<img :src="hambugerMenuIcon" alt="hamburgerMenu">
						</v-btn>
						<v-btn value="searchWildflowers" @click="setAppBarIcon('searchWildflowers');">
							<img :src="wildflowerIcon" alt="flower">
						</v-btn>
						<v-btn value="serachTrees" @click="setAppBarIcon('serachTrees');">
							<img :src="treesIcon" alt="tree">
						</v-btn>
					</v-bottom-navigation>

					<!-- Start side drawer -->
					<v-navigation-drawer class="fill-height" v-model="drawer" app>
						<v-toolbar color="#fff" height="24" class="mb-4" dense flat></v-toolbar>
						<!-- <v-list-item-title id="sideDrawerTitle" class="title ml-4">Menu</v-list-item-title> -->
						<div id="sideDrawerTitle" class="ml-4">Menu</div>
						<!-- <v-divider></v-divider> -->
						<div class="ml-4 mt-9 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('home')">Home <img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""> </div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('searchWildflowers')">Wildflowers<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('serachTrees')">Trees<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('Instructions')">Instructions<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('Glossary')">Glossary<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('Resources')">Additional Resources<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<div class="ml-4 mt-3 mb-3 sideDrawer--Titles" @click="sideDrawerPageChange('Info')">General Information<img class="sideDrawer--arrows" src="icons/right_arrow.svg" alt=""></div><v-divider></v-divider>
						<p class="ml-4 mt-5 sortBy">Sort by:</p>
						<div class="sideDrawer--sortBy ml-2">
							<span class="sortBy_tabs" @click="commonSelected" :class="{sortBy_focus: common_selected}">Common Name</span><span class="sortBy_tabs" @click="latinSelected" :class="{sortBy_focus: latin_selected}">Latin Name</span>
						</div>
					</v-navigation-drawer>
				<!-- End side drawer -->
				<!-- END MAIN NAVIGATION FOR EVERY PAGE -->

					<div v-if="page == 'home' ">
						<div class="landing--nps_div">
							<img class="landing--NPS_logo" src="nps_logo.svg" alt="npsLogo">
							<p class="landing--NPS_logo ml-2">NATIONAL PARK SERVICE</p>
						</div>
						<div class="landing--title_div">
							<p class="landing--title">Cedar Breaks</p>
							<p class="landing--title"> National Monument</p>
							<img src="landing_flower.png" class="loading--flower mt-5" alt="flower">
							<p class="landing--sub-title mt-2">Wildflowers</p>
						</div>
						
						<div>
							<v-btn class="button d-block mt-9" tile color="#3B4549" @click="sideDrawerPageChange('searchWildflowers');" dark><img class="landing--buttons_image mr-2" src="icons/appbar_flower.svg" alt="flower"> Search Wildflowers</v-btn>
							<v-btn class="button d-block mt-4" tile color="#3B4549" @click="sideDrawerPageChange('serachTrees');" dark><img class="landing--buttons_image mr-2" src="icons/treeLight.svg" alt="flower"> Search Trees</v-btn>
							<v-btn class="button d-block mt-4" tile color="#3B4549" @click="sideDrawerPageChange('Instructions');" dark><img class="landing--buttons_image mr-2" src="icons/question_mark.svg" alt="flower"> Instructions</v-btn>
						</div>
					</div>

					<!-- searchWildflowers, serachTrees, Instructions, Glossary, Resources, Info -->
					<div v-if="page == 'searchWildflowers' ">welcome to wildflowers</div>
					<div v-if="page == 'serachTrees' ">welcome to searchTrees</div>

					<div v-if="page == 'Instructions' ">
						<v-app-bar dense  color="#829891" class="mb-9">
							<v-toolbar-title v-on:click="page='home'" color="#C47D3D"><img class="ml-4 mr-4" src="icons/backArrow.svg"><span class="tanColor">Instructions</span></v-toolbar-title>
						</v-app-bar>
						<p class="instruction--text">After locating a plant specimen you would like to use the app to identify, go to the respective tab (wildflower or tree) at the bottom of the screen. Go to the “Search Classifications</p>
						<p class="instruction--headers">For Wildflowers</p>
						<p class="instruction--text">Select the trait that most represents the plant that you are looking at. If you leave a section blank, that section will not be used when filtering the search results. For example, if you would like to see only the yellow wildflowers, select the ‘yellow’ tab and leave all other sections blank.</p>
						<p class="instruction--sub-headers">Wildflower Example</p>

						<p class="instruction--headers">For Trees</p>
						<p class="instruction--text">Select the trait that most represents the tree that you are looking at. If you leave a section blank, that section will not be used when filtering the search results. For example, if you would like to see only the trees with needles, select the ‘needles’ tab and leave all other sections blank.</p>
						<p class="instruction--sub-headers">Tree Example</p>
						<div class="space"></div> <!-- must add empty space or it get cut off by app bar. -->

					</div>

					<div v-if="page == 'Glossary' ">welcome to glossary</div>
					<div v-if="page == 'Resources' ">welcome to Resources</div>
					<div v-if="page == 'Info' ">
						<v-app-bar dense  color="#829891" class="mb-9">
							<v-toolbar-title v-on:click="page='home'" color="#C47D3D"><img class="ml-4 mr-4" src="icons/backArrow.svg"><span class="tanColor">General Information</span></v-toolbar-title>
						</v-app-bar>
						<p class="instruction--text">General Information coming soon.</p>
					</div>


					<div v-if="page == 'research' ">
						<div> <!-- App bar for research page -->
							<v-app-bar dense>
								<v-toolbar-title id="researchHeader" v-on:click="page='landing' "><img class="backButton" src="icons/backArrow.svg"><span>Search Wildflowers</span></v-toolbar-title>
								<v-spacer></v-spacer>
							</v-app-bar>
						</div>
						<div id="selectionWrapper">
							<span class="sortBy_tabs" @click="abcSelected" :class="{sortBy_focus: abc_selected}">Search Alphabetically</span><span class="sortBy_tabs" @click="classSelected" :class="{sortBy_focus: class_selected}">Search Classifications</span>
						</div>
						<div id="contentWrapper">
							<h2>Shape</h2>
							<div class="gridContainer">
								<img class="optionImg" src="icons/simple.svg">
								<img class="optionImg" src="icons/daisy.svg">
								<img class="optionImg" src="icons/irregular.svg">
							</div>
							<h2>Leaf Arrangement</h2>
							<div class="gridContainer2">
								<img class="optionImg" src="icons/basal.svg">
								<img class="optionImg" src="icons/opposite.svg">
								<img class="optionImg" src="icons/whorled.svg">
								<img class="optionImg" src="icons/whorled.svg">
							</div>
							<h2>Color</h2>
							<div class="gridContainer3">
								<img class="optionImg" src="icons/blue.svg">
								<img class="optionImg" src="icons/orange.svg">
								<img class="optionImg" src="icons/pink.svg">
								<img class="optionImg" src="icons/pink.svg">
								<img class="optionImg" src="icons/red.svg">
								<img class="optionImg" src="icons/purple.svg">
								<img class="optionImg" src="icons/white.svg">
								<img class="optionImg" src="icons/white.svg">
							</div>
							<div id="petalWrap">
								<span id="numPetals">Number of Petals</span>
								<span id="num">{{petalNumber}}</span>
							</div>	
						</div>
						<v-bottom-navigation background-color="#3B4549" color="#fff" absolute style="justify-content: space-between">
							<v-btn value="sideDrawer" @click="setAppBarIcon('hamburger'); drawer = !drawer">
								<img :src="hambugerMenuIcon" alt="hamburgerMenu">
							</v-btn>
							<v-btn value="wildflowers" @click="setAppBarIcon('flower');">
								<img :src="wildflowerIcon" alt="flower">
							</v-btn>
							<v-btn value="trees" @click="setAppBarIcon('tree');">
								<img :src="treesIcon" alt="tree">
							</v-btn>
						</v-bottom-navigation>
					</div>
				</v-content>
			</v-app>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="index.js"></script>
		<noscript>Please install Javascript</noscript>
    </body>
</html>