@font-face{
    font-family: "myBaskerville";
    src: url("fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}
body{
    font-family: 'myBaskerville' !important;
    font-style: normal;
    font-weight: normal;
}
html,body{
    overflow-x: hidden;
}

.loading--flower {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}
.loading--title {
    /* font-family: Libre Baskerville; */
    font-size: 20px;
    line-height: 36px;
    color: #666;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.loading--sub-title {
    color: #879893;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.loading--nps_div {
    position:absolute;
    width:250px;
    height:50px;
    margin-left:-120px;
    bottom:0px;
    left:50%;
}
.loading--NPS_logo{
    display: inline;
    vertical-align: middle;
}
/* END LANDING PAGE CSS */

/* START OF LANDING PAGE */

.landing--nps_div {
    width: 250px;
    margin: 0 auto;
    margin-top: 24px;
}
.landing--NPS_logo{
    display: inline;
    vertical-align: middle;
}
.landing--title_div {
    margin-top: 40px;
}
.landing--title {
    /* font-family: Libre Baskerville; */
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: #3B4549;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.landing--sub-title {
    color: #3B4549;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.button {
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

.landing--buttons_image {
    height: 20px; 
    width: 20px;
}

#sideDrawerTitle {
    font-size: 20px;
    font-weight: bold;
    color: #3B4549;
    line-height: 25px;
}
.sideDrawer--Titles{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #3B4549;
}
.sideDrawer--arrows {
    margin-right: 20px;
    float: right;
}
#researchHeader{
    height: 56px;
    background-color: #829891;
    text-align: center;
    vertical-align: middle;
    color: #E9DED9;
    font-size: 20px;
    font-weight: bold;
}